:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --title-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --button-hover-color: #188ce8;
  --transtime-duration: 250ms;
  --transtiming-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 50px;
}*/
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bcg-color);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 99;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__btn-close:hover .mobile-menu__icon-btn-close,
  .mobile-menu__btn-close:focus .mobile-menu__icon-btn-close {
    fill: var(--accent-color);
  }
  .mobile-menu__nav {
    padding-bottom: 302px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transtime-duration) var(--transtiming-function);
  }
}

@media screen and (max-width: 767px) and (max-width: 379px) {
  .mobile-menu__link {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__link.current {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__social-list {
    display: inline-flex;
    align-items: baseline;
    padding-top: 64px;
  }
  .mobile-menu__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--transtime-duration) var(--transtiming-function);
  }
}

@media screen and (max-width: 767px) and (max-width: 379px) {
  .mobile-menu__social-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
    color: var(--button-hover-color);
  }
  .vertical-line {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-close {
    display: none;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__logo-part {
  color: var(--logo-text-color);
}

.logo__logo-part_var {
  color: var(--title-text-color);
}

.modal-btn {
  display: inline-block;
  align-items: center;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  transition: background-color var(--transtime-duration) var(--transtiming-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--button-hover-color);
}

.modal-btn_sign {
  position: relative;
  padding: 10px 62px 10px 29px;
}

.modal-btn__icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-28px, 50%);
}

.modal-btn_form-btn {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  .modal-btn_form-btn {
    padding: 8px 30px;
    font-size: 14px;
    line-height: 1.87;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .services-title,
  .team-title,
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.mobile-menu__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--transtime-duration) var(--transtiming-function);
  }
}

@media screen and (max-width: 767px) and (max-width: 379px) {
  .contacts__link.mobile-menu__phone {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.mobile-menu__phone:hover, .contacts__link.mobile-menu__phone:focus {
    color: var(--accent-color);
  }
  .contacts__link.mobile-menu__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transtime-duration) var(--transtiming-function);
  }
}

@media screen and (max-width: 767px) and (max-width: 379px) {
  .contacts__link.mobile-menu__mail {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.mobile-menu__mail:hover, .contacts__link.mobile-menu__mail:focus {
    color: var(--accent-color);
  }
}

.contacts__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transtime-duration) var(--transtiming-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link_grey {
  color: var(--address-text-color);
}

.contacts__link_align {
  display: flex;
  align-items: center;
}

.contacts__icon-mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.contacts__link:hover .contacts__icon-mail,
.contacts__link:focus .contacts__icon-mail {
  fill: var(--accent-color);
}

.contacts__icon-phone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.contacts__link:hover .contacts__icon-phone,
.contacts__link:focus .contacts__icon-phone {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bcg-color);
  border-radius: 50%;
  transition: background-color var(--transtime-duration) var(--transtiming-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--title-text-color);
}

.social-list__icon_var {
  fill: var(--title-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity var(--transtime-duration) var(--transtiming-function), visibility var(--transtime-duration) var(--transtiming-function);
  overflow-y: scroll;
  padding: 93px 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.75);
}

.modal {
  position: relative;
  transform: scale(1);
  min-height: 609px;
  max-width: 450px;
  padding: 40px;
  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transtime-duration) var(--transtiming-function);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.modal-btn-close:hover, .modal-btn-close:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__field:not(.except) {
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transtime-duration) var(--transtiming-function);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transtime-duration) var(--transtiming-function);
}

.modal-form__message::placeholder {
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  border-color: var(--accent-color);
}

.modal-form__checkbox-policy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.17;
}

.modal-form__checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  content: '';
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color var(--transtime-duration) var(--transtiming-function);
}

.modal-form__checkbox:checked + .modal-form__checkbox-policy::before {
  background-color: var(--accent-color);
  background-origin: border-box;
  border: transparent;
}

.modal-form__checkbox:focus + .modal-form__checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal-form__policy-link {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal-form__head {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 480px) {
  .modal-form__head {
    line-height: 1.15;
  }
  .modal-form__checkbox-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.sign-form__field {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: transparent;
}

.sign-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .sign-form__input {
    width: 450px;
  }
  .sign-form__wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .sign-form__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
  }
  .sign-form__wrap {
    flex-direction: row;
    align-items: baseline;
  }
}

.btn-item {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bcg-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: color var(--transtime-duration) var(--transtiming-function), background-color var(--transtime-duration) var(--transtiming-function), box-shadow var(--transtime-duration) var(--transtiming-function);
}

.btn-item:hover, .btn-item:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu-nav,
  .page-header__contacts {
    display: none;
  }
  .page-header__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .page-header__icon-menu {
    width: 40px;
    height: 40px;
    transition: fill var(--transtime-duration) var(--transtiming-function);
  }
  .page-header__mobile-menu-btn:hover .page-header__icon-menu,
  .page-header__mobile-menu-btn:focus .page-header__icon-menu {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .page-header__mobile-menu-btn,
  .mobile-menu__nav,
  .mobile-menu__contacts,
  .mobile-menu__social-list {
    display: none;
  }
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .page-header__nav {
    display: flex;
    align-items: center;
  }
  .menu-nav {
    display: flex;
    margin-left: 88px;
  }
  .menu-nav__item + .menu-nav__item {
    margin-left: 50px;
  }
  .menu-nav__link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transtime-duration) var(--transtiming-function);
  }
  .menu-nav__link:hover, .menu-nav__link:focus {
    color: var(--accent-color);
  }
}

.contacts__item + .contacts__item {
  margin-top: 10px;
}

.menu-nav__link.current {
  position: relative;
  color: var(--accent-color);
}

.menu-nav__link.current::after {
  position: absolute;
  bottom: -28px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu-nav {
    margin-left: 93px;
  }
  .page-header__contacts {
    display: flex;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--footer-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg/bcg-photo-mobile.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg/bcg-photo-mobile@2x.jpg");
  }
}

.hero-title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg/bcg-photo-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(81, 88, 163, 0.4)), url("../images/bcg/bcg-photo-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg/bcg-photo.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(81, 88, 163, 0.4)), url("../images/bcg/bcg-photo@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list__icon {
  display: inline-flex;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-list__icon-item {
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features-list__description {
  font-weight: 400;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-list__item {
    flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .features-list__icon {
    min-width: 354px;
  }
  .features-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(100% / 4 - 90px);
  }
  .features-list__icon {
    min-width: 270px;
  }
}

.services {
  display: none;
  padding-top: 47px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.images > .images__element {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.images__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.images__info-services {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .services {
    display: unset;
  }
}

.team {
  background-color: var(--secondary-bcg-color);
}

.team-cards__element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-cards__element:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-cards__content {
  background-color: var(--primary-bcg-color);
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-cards__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-cards__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team-cards__element {
    flex-basis: calc(100% / 2 - 60px);
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
  }
}

@media screen and (min-width: 1200px) {
  .team-cards__element {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-list__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  align-self: center;
  display: block;
}

.client-list__link {
  display: flex;
  width: 210px;
  height: 92px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transtime-duration) var(--transtiming-function);
}

.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .clients-title {
    font-size: 26px;
  }
  .client-list__link {
    width: 130px;
  }
}

.client-list__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--transtime-duration) var(--transtiming-function);
}

.client-list__link:hover .client-list__logo,
.client-list__link:focus .client-list__logo {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc(100% / 3 - 60px);
  }
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc(100% / 6 - 30px);
  }
  .client-list__link {
    width: 170px;
    height: 90px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}

.page-footer__form,
.page-footer__social-list {
  margin-top: 60px;
}

.page-footer__form {
  width: 100%;
}

.page-footer__location {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--title-text-color);
}

.page-footer__contacts,
.contacts__item-tel {
  margin-top: 8px;
}

.page-footer__contacts .contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.page-footer__social-list .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__social-list .social-list__link:hover,
.page-footer__social-list .social-list__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-footer__social-list {
    margin-top: 0;
    margin-left: 165px;
  }
  .page-footer_wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
  .page-footer__form {
    width: unset;
  }
  .page-footer__social-list {
    margin-left: 70px;
  }
  .page-footer__container {
    text-align: left;
  }
  .page-footer__contacts,
  .contacts__item-tel {
    margin-top: 9px;
  }
}

.btn-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

.btn-filter__element {
  margin-top: 15px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .btn-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-filter {
    margin-bottom: 50px;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.project__element {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .project__element {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .project__element {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.project__link {
  display: block;
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link-wrapper {
  position: relative;
  overflow: hidden;
}

.project__desc {
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) {
  .project__desc {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__desc {
    padding: 63px 24px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transtime-duration) var(--transtiming-function);
}

.project__link:hover .overlay,
.project__link:focus .overlay {
  transform: translateY(0%);
}

.project__item {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__item {
    padding: 56px 24px;
  }
}

.project__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */