/*h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 50px;
}*/

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  // @media screen and (max-width: 479px) {
  //   width: 100%;
  //   height: auto;
  // }
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}
