:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --title-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --button-hover-color: #188ce8;
  --transtime-duration: 250ms;
  --transtiming-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$footerColor: #2f303a;
